@import "../../stylesheets/variables";


#main-view {
  width: inherit;
  margin-left: 20%;
  display: grid;
  grid-template-columns: 49% 49%;
  grid-column-gap: 2%;
  grid-row-gap: 3%;
  height: 100vh;
  padding: 30px 20px;
  overflow-y: scroll;

  @media (max-width: $laptop-width) {
    margin-left: 25%;
  }

  @media (max-width: $mobile-width) {
    margin-left: 32%;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: $phone-width) {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
  }
}

.cat-display {
  height: 450px;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    margin-bottom: 50px;
  }

  @media (max-width: $phone-width) {
    height: 250px;
  }
}

.image-display {
  width: 90%;
  border-radius: 8%;
  padding: 3%;
  height: inherit;
  object-fit: cover;

  &:hover {
    border: 1.5px dotted $primary-orange;
  }
}

.loader {
  position: absolute;
  top: 40%;
  left: 55%;
  border: 16px solid $hover-white;
  border-radius: 50%;
  border-top: 16px solid $hover-orange;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;

  @media (max-width: $phone-width) {
    width: 60px;
    height: 60px;
    left: 50%;
    border: 8px solid $hover-white;
    border-top: 8px solid $hover-orange;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.load-more-btn {
  position: relative;
  width: 200px;
  height: 50px;
  margin: 40px 0;
  background-image: linear-gradient(to bottom right, $hover-orange, $primary-orange);
  border: none;
  cursor: pointer;
  color: $primary-white;

  &:hover {
    border: 1px $hover-orange solid;
    background-image: linear-gradient(to bottom right, $hover-white, $primary-white);
    color: $primary-black;
  }
}

.loader-pending {
  width: 10px;
  height: 10px;
  border: 5px solid $hover-white;
  border-top: 5px solid #B4B4B4;
  top: 30%;
  left: 45%;
}
