@import "../../stylesheets/variables";

.sidebar {
  position: fixed;
  background-color: $primary-black;
  height: 100vh;
  color: $primary-white;
  font-weight: bold;
  width: 20%;

  @media (max-width: $laptop-width) {
    width: 25%;
  }

  @media (max-width: $mobile-width) {
    width: 32%;
  }

  @media (max-width: $phone-width) {
    width: 20%;
  }
}

.sidebar-title {
  margin: 30px 20px;

  &:hover {
    cursor: pointer;
    color: $primary-orange;
  }
}

.menu-items{
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: $hover-orange;
    color: $primary-black;
  }
}

.menu-cat-icon {
  margin-left: 20px;
}

.menu-item-name {
  display: inline-block;
  margin-left: 10px;
}

.open-sidebar {
  cursor: pointer;
  margin: 30px 20px;
  font-size: 30px;
}
